body{
  background-color: #000;
  background-image: url("../images/image03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}

.image-character-area img{
    margin: 0 auto;
    display: block;
}

.character-contents p {
    font-size: 200;
    margin: 0 auto;
    display: block;
    
    
}